<div id="contact_us">
  <div id="contact_nums">
    <ul>
      <li>
        01/
      </li>
      <li>
        02/
      </li>
     </ul>
  </div>
  <div id="visit_us">

  </div>
  <div id="request_prop">

  </div>
</div>