// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Logo & Header
#header{
  margin-top: 20px;
  text-align: center;

  //Navigation terms
  #navbar {
    li{
      font-size: 12px;
      display: inline;
      margin-right: 20px;
    }
  }
}

//footer
#footer {
  background-color: #31333E;
  height: 460px;
  width: 100%;
  position: relative;
  right: 10px;
  bottom: -10px;
  padding: 45px 50px;
  a:visited{
    color: white;
  }

  //restore list separated
  .fimage, .fmenu, .fcontact, .fsocial {
    padding: 0px 0px 0px 50px;
    float: left;
    line-height: 1.4em;

    // get rids of the list dot
    ul {
      list-style-type: none;
      //makes the text white
      li {
        font-size: 15px;
        color: #FFFFFF;
        margin-right: 40px;
        .fheader {
          font-size: 18px;
          color: #FFFFFF;
          position: relative;
          top: -15px;
        }
        img {
          position: relative;
          top: 10px;
        }
      }
    }
  }

}

#our_services{
  height: 500px;
  width: 100%;
  position: relative;
  right: 10px;
  bottom: -10px;
  padding: 25px 50px;
  // get rids of the list dot
  ul {
    list-style-type: none;
    //makes the text white

  }

}

// Rotating images
.banner {
  //the following are needed to make the color go across the page
  height: 500px;
  width: 100%;
  position: relative;
  left: 50px;
}

//about us description
#about_us{
  margin-top: 60px;
  height: 350px;
  text-align: left;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  font-size: 13px;

   //paragraph styles
  .introduction1, .introduction2 {
    margin-top: 10px;
    width: 475px;
    padding: 0px 0px 0px 100px;
    float: left;
  }
}
//why restore segment
#why_restore{
  height: 500px;
  width: 100%;
  position: relative;
  right: 10px;
  bottom: -10px;
  padding: 25px 50px;
  background-color: green;

  //restore list separated
  .restore1, .restore2 {
    margin-top: 25px;
    width: 475px;
    padding: 0px 0px 0px 100px;
    float: left;
    line-height: 5em;

    // get rids of the list dot
    ul {
      list-style-type: none;
      //makes the text white
      li {
        font-style: Bold;
        font-size: 20px;
        color: #FFFFFF;
        //sets the image in the middle
        img {
          position: relative;
          top: 40px;
        }
      }
    }
  }
}
//all homepage css done
//start of contact
#contact_us{
  background-color: #72bd44;
  height: 800px;
  width: 100%;
  position: relative;
  right: 10px;
  bottom: -10px;
  padding: 25px 50px;

  //header element of contact us
  #contact_nums{
    li{
      display: inline;
      margin-right: 430px;
    }
    margin-top: 50px;
    position: relative;
    height: 100px;
    padding-left: 200px;

  }
  //body element of the contact us
  .two_column{
    height: 700px;
    position: relative;
    padding-left: 200px;

    //left side of contact us
    #visit_us{
      width: 50%;
      position: relative;
      float: left;
      ul {
        list-style-type: none;
        li{
          font-size: 15px;
          color: #FFFFFF;

          //point img here
          #visit_head{
            font-size: 25px;
            color: #FFFFFF;
            right: 25px;
            position: relative;
          }

          //Our Hours are
          #visit_head2{
            font-size: 22px;
            right: 25px;
            color: #FFFFFF
          }
        }
      }
    }

    //right side of contact us
    #request_prop{
      width: 50%;
      position: relative;
      float: right;
      left: 30px;
      .contact_input{
        color: #FFFFFF;
      }
      .contact_size{
        width: 350px;
        height: 20px;
      }
      .contact_tsize{
        width: 350px;
        height: 70px;
      }

    }
  }
}