//Logo & Header
#header{
  margin-top: 20px;
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ul{
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}

