<div id="footer">
  <div class="fimage">
    <ul>
      <li>
        <%= image_tag 'logo.png' %>
      </li>
    </ul>
  </div>

  <div class="fmenu">
    <ul>
      <li>Menu</li>
      </br></br>
      <li> Home</li>
      <li> Why Restore?</li>
      <li> Product Type</li>
      <li> Swatch Book</li>
      <li> Shop</li>
      <li> Contact Us</li>
    </ul>
  </div>

  <div class="fcontact">
    <ul>
      <li>Contact Us</li>
      </br>
      <li> 1026 E.Lacy Ave., Anaheim,</li>
      <li> CA 92805</li>
      </br>
      <li> Office: (714) 502-9214</li>
      <li> Fax: (714)502-9120</li>
      </br>
      <li> info@miracolifurniture.net</li>
      <li> miracolifurniture@yahoo.com</li>
      </br>
      <li>Nazario Arroyo</li>
      <li>Cell: (714) 651-2544</li>
      </br>
      <li>Our Hours Are:</li>
      <li>Monday-Friday</li>
      <li>From 8:00am - 4:00p.m. Pacific Time</li>
      <li>Saturday upon request</li>
    </ul>
  </div>

  <div class="fsocial">
    <ul>
      <li> Social</li>
      </br>
      <li> Facebook</li>
      <li> Instagram</li>
      <li> Email</li>
    </ul>
  </div>
</div>