<div id="header">
  <%= image_tag 'logo.png' %>
  <div id="navbar" >
    <ul>
      <li>
        <%= link_to "HOME", root_path %>
      </li>
      <li>|</li>
      <li>
        <a href="">SERVICES</a>
      </li>
      <li>|</li>
      <li>
        <a href="">SWATCH BOOK</a>
      </li>
      <li>|</li>
      <li>
        <a href="">SHOP</a>
      </li>
      <li>|</li>
      <li>
        <a href="">CONTACT US</a>
      </li>
    </ul>
  </div>
</div>